/**
 * Modulo API
 * Test description
 *
 * OpenAPI spec version: v1
 * Contact: simonokello93@gmail.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ReportsApi {

  /**
   * 
   * Expected answers:
   *   code 200 :  
   * 
   * Available security schemes:
   *   Bearer (apiKey)
   */
  def reportsExpenseCategoryList()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://moduloapi.herokuapp.com/api", "/reports/expense_category/", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * Expected answers:
   *   code 200 :  
   * 
   * Available security schemes:
   *   Bearer (apiKey)
   */
  def reportsIncomeSourceList()(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://moduloapi.herokuapp.com/api", "/reports/income_source/", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withSuccessResponse[Unit](200)
      

}

